.idea
.idea/
.idea/*
.idea/**
*.iws
*.iml
*.ipr

venv
venv/
venv/*
venv/**

__pycache__
__pycache__/
__pycache__/*
__pycache__/**

dados
dados/
dados/*
dados/**

imagens
imagens/
imagens/*
imagens/**
